.home {
  .jumbotron {
    background: url("/jumbotron.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: (-1.54692px, -2.84217e-14px) rotate(0deg);
    img {
      margin-left: -20px;
      margin-top: 100px;
      margin-bottom: 30px;
    }

    p {
      font-size: 42px;
      margin-bottom: 0;
      span {
        font-size: 42px;
        font-weight: 600;
      }
    }

    span {
      font-size: 26px;
    }

    .button {
      &:hover {
        color: black !important;
        border: 1px solid red !important;
        border-radius: 5px !important;
      }
    }

    @media (max-width: 576px) {
      text-align: center;
    }
  }

  .card {
    border-radius: 25px;
    box-shadow: -50px 70px 60px lightgray;

    .card-body {
      border-radius: 25px;
      box-shadow: -10px 10px 50px lightgray inset;

      .icon {
        font-size: 80px;
        color: red;
      }
    }
  }
}
