.harga {
  margin-top: 3em;
  background: url("/others/pricing.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .paket {
    padding-inline: 1em;
    padding-block: 5em;
  }
  @media (min-width: 992px) {
    .table-config {
      :nth-child(1) {
        background: transparent !important;
        border: none;
        color: white;
        border-top-right-radius: 0px !important;
      }
      ul :nth-child(1),
      :nth-child(2),
      :nth-child(3),
      :nth-child(4) {
        font-size: 16px !important;
      }

      ul {
        margin-bottom: 0;
      }

      th {
        border-top-right-radius: 20px !important;
        text-align: center !important;
        border-top-left-radius: 20px !important;
        background-color: white !important;
        color: black !important;
      }
      tbody {
        tr {
          height: 100px !important;
        }

        td {
          background-color: #252021;
          border: 1px solid white;
          :nth-child(1) {
            font-size: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 991px) {
    Table {
      background-color: #252021;
    }
    .table-config {
      ul :nth-child(1),
      :nth-child(2),
      :nth-child(3),
      :nth-child(4) {
        font-size: 16px !important;
        margin-left: -15px;
      }

      ul {
        margin-bottom: 0;
      }

      th {
        // border-top-left-radius: 20px !important;
        // border-top-right-radius: 20px !important;
        text-align: center !important;
        background: white;
        color: black !important;
      }
      tbody {
        tr {
          height: 100px !important;
        }

        td {
          background-color: #252021;
          color: white;
          :nth-child(1) {
            font-size: 20px;
          }
        }
      }
    }
  }
  .mobile-table {
    @media (min-width: 992px) {
      display: none;
    }
  }
  .desktop-table {
    @media (max-width: 992px) {
      display: none;
    }
  }
}
