.kontak {
  background: url("/contact.svg");
  background-size: cover;
  background-position: center;
  p {
    font-weight: 200;
  }
  .card {
    margin-inline: 30px;
    background-color: #3b3839;
    color: white;
    border-radius: 20px;

    label {
      color: white !important;
    }
  }
}
.contact {
  @media (max-width: 767px) {
    text-align: center;
  }
}
