.layanan {
  margin-top: 5em;

  .layanan-background {
    background-color: #e1f2f5;
    border-left: 5px solid #00b0c4;
    padding: 2em;

    p {
      font-weight: 200;
    }
  }

  .row > * {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
