@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  font-family: "Sofia Sans Condensed", sans-serif;
  font-style: normal;
}

.button {
  padding: 20px 35px !important;
  border-radius: 0 !important;
  span {
    font-size: 14px !important;
  }
}

.text-justify {
  text-align: justify !important;
}

.ant-table-measure-row {
  display: none !important;
}
